@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* Setup default font if needed later */
}